@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

section {
    width: 50%;
    height: 50%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

section>div {
    border:  2px #e4e3e7 solid;
    padding: 1rem;
    width: 28rem;
    /*  height: 25rem; */
    display: inline-flex;
    
}

section div ul li a{
    color: #ffffff;
    padding: 0.9;
    border-left: #e4e3e7 1px solid;
}

section div ul li a div{
    display: inline;
    position: absolute;
}

#circle {
    margin: 2rem;
    position: relative;
    color: #e4e3e7;
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
    border: #e4e3e7 2px solid;
    border-radius: 50%;
}

#circle>span {
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}

.fb {
    color: #ffffff;
    background-color: #507bbf;
    
}

.g {
    color: #ffffff;
    background-color: #db4a30;
}

.twt {
    color: white;
    background-color: #65cdf2;
}

.new {
    color: #378ee2;
    background-color: #f2f9ff;
    border-top: none;
    display: inline-flex;
    justify-content: center;
    /* position: relative; */
}

.line1, .line2 {
    border-left: #e4e3e7 2px solid;
}

.login {
    color: white;
    background-color: #65b1ff;
    border: none;
    border-radius: 0.2rem;
    /* padding: 1rem; */
    width: 5rem;
    height: 1.5rem;
}

a:any-link {
    text-decoration: none;
}

form {
    color: #444155;
    text-align: center;
}

[type="checkbox"] {
    color: #7c7b83;
}

fieldset{
    border: none;
}

.links {
    width: 15rem;
    justify-content: space-around;
    position: absolute;
    padding: 1rem;
    
}

/* Remember me: #7c7b83 
Sign in with: #444155
OR: #e4e3e7*/