@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

section {
    width: 60vw;
    height: 50vh;
    margin: 2vw auto;
    display: flex;
    flex-direction: column;
}

section>div {
    border:  2px #e4e3e7 solid;
    padding: 1vw;
    width: 78vw;    
}

section div ul li a{
    color: #ffffff;
    /* padding: 0.9vw; */
    width: 0;
    height: 0;
}

section div ul li {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#circle {
    margin: 5vw auto;
    position: relative;
    color: #e4e3e7;
    width: 6vw;
    height: 12vh;
    background-color: #ffffff;
    border: #e4e3e7 2px solid;
    border-radius: 50%;
}

#circle>span {
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    flex: 3vw;
}

.line1, .line3 {
    position: relative;
    z-index: 0;
    /* justify-content: center;
    align-items: center; */
}

.line1 {position: relative;
    top: -18vh;
    right: -3vw;}

.line3 {
    position: relative;
    top: 18vh;
    right: -3vw;
    border-right: #e4e3e7 2px solid;
}

.line1, .line2 {
    border-left: #e4e3e7 2px solid;
}

.fb, .g, .twt {
    color: #ffffff;
    padding: 0.5vw;
    margin: 3vw;
    width: 25vw;
    text-align: left;
    align-items: center;
    position: relative;
}

.fab {
    border-right: #e4e3e7 1px solid;
    padding: 0.5rem;
    margin: 0.5rem;
}

.fa-facebook-f {
    padding-right: 0.8rem;
}

.fb {
    background-color: #507bbf;
}

.g {
    background-color: #db4a30;
}

.twt {
    background-color: #65cdf2;
}

.new {
    color: #378ee2;
    background-color: #f2f9ff;
    border-top: none;
    display: inline-flex;
    justify-content: center;
}

.login {
    color: white;
    background-color: #65b1ff;
    border: none;
    border-radius: 0.2rem;
    /* padding: 1rem; */
    width: 5rem;
    height: 1.5rem;
}

a:any-link {
    text-decoration: none;
}

form {
    color: #444155;
    text-align: center;
}

.buttons [type="checkbox"] {
    color: #7c7b83;
    font-size: 2vh;
}

input[type="email"], input[type="password"] {
    border: none;
    padding: 0.5vw;
    position: relative;
}

fieldset{
    border: none;
    width: 1rem;
}

fieldset div{
    display: inline;
}
.right {
    color:#444155;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.shapes {
    display: flex;
    justify-content: center;
    flex-direction: row; 
}

.underline {
    border-bottom: 1px solid #444155;
}

.buttons {
    display: inline-flex;
    justify-content: space-around;
    padding: 0.115rem;
}

.links {
    width: 15vw;
    justify-content: space-around;
    position: absolute;
    padding: 1vw;
    /* top: 0;
    right: 0;
    left: 0;
    bottom: 0; */
    cursor: pointer;
}

