@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

section {
    border:  2px gray solid;
    margin: 2rem auto;
    width: 50%;
    height: 50%;
}

.fb {
    color: white;
    background-color: #507bbf;
    text-decoration: none;
}

.g {
    color: white;
    background-color: #db4a30;
}

.twt {
    color: white;
    background-color: #65cdf2;
}

.new {
    color: #378ee2;
    background-color: #f2f9ff;
}

.login {
    color: white;
    background-color: #65b1ff;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

a:any-link {
    text-decoration: none;
}